<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>笑一笑，十年少 ~</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  </head>
  <body class="">
    <header>
      <nav class="z-depth-0">
        <div class="container">
          <a href="#" data-activates="nav-mobile" class="button-collapse waves-effect waves-light circle hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
          <div class="nav-wrapper"><a class="page-title">SideNav</a></div>
        </div>
      </nav>

      <ul id="nav-mobile" class="side-nav">
        <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml">Your browser does not support SVG</object></a></li>
        <li class="search">
          <div class="search-wrapper card">
            <input id="search"><i class="material-icons">search</i>
            <div class="search-results"></div>
          </div>
        </li>
      </ul>
    </header>

    <div class="section no-pad-bot">
      <div class="container">
        <h3 class="header center-on-small-only">Posts</h3>
        <div class="raw">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-stacked">
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="chip">Hehe</div>
                <div class="card-action">
                  <a href="#">Comment</a>
                  <a href="#">Love</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
    $(".button-collapse").sideNav();
    </script>

  </body>
</html>
