<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="post editor.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>新创建博客</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">

    <link rel="stylesheet" href="{% static "css/md_editor.css" %}">
</head>

<body>
  <nav class="grey darken-2">
    <div class="">
      <div class="nav-wrapper container">
        <span>新建博客</span>

        <ul class="right">
          <li>
            <a class="waves-effect btn" id="post-publish">发布</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      <div class="row">
        <form action="/blogs" method="POST" id="post-create">{% csrf_token %}
          <div class="col s12 m12">

            <div class="row">

              <div class="input-field col s12 m4">
                <select id="post-category" name="category">
                  <option value="" selected>未分类</option>
                  {% for cate in categories %}
                  <option value="{{ cate.id }}">{{ cate.name }}</option>
                  {% endfor %}
                </select>
                <label>博客分类</label>

              </div>

              <div class="input-field col s12 m8">
                <input name="tags" class="validate" type="hidden" id="post-tags">
                <div class="chips chips-autocomplete" id="chips-tags" data-index="0" data-initialized="true">
                </div>
              </div>
            </div>

            <div class="input-field">
              <input name="title" class="validate" type="text" id="post-title">
              <label class="" for="post-title">博客标题</label>
            </div>

            <div id="post-body">
            </div>

            <textarea name="body" id="post-body-textarea" style="display: none"></textarea>

          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
  <script type="text/javascript" src="{% static "js/qiniu.min.js" %}?v=1.0.19"></script>
  <script>
   var editor = new tui.Editor({
     el: document.querySelector('#post-body'),
     initialEditType: 'markdown',
     previewStyle: 'tab',
     height: '500px',
   });

   $('.chips-autocomplete').material_chip({
     placeholder: '+Tag:',
     secondaryPlaceholder: 'Tags'
   });
   $('select').material_select();

   $('#post-publish').click(function(){
     var value = editor.getValue();
     $('#post-body-textarea').val(value);
     $('#post-create').submit();
   });

   function update_tags_value(){
     var tag_objects = $('#chips-tags').material_chip('data');
     var tags = [];
     for (var i = 0; i < tag_objects.length; i++) {
       tags.push(tag_objects[i].tag);
     }
     var tags_str = tags.join(', ');
     $('#post-tags').val(tags_str);
   }

   $('#chips-tags').on('chip.add', function(e, chip){
     update_tags_value();
   });

   $('#chips-tags').on('chip.delete', function(e, chip){
     update_tags_value();
   });
  </script>
  </body>
</html>
