{% extends 'blog/_layout.html' %}
{% load static %}

{% block title %} blog title | xxx'blog {% endblock %}

{% block page_class %} page-post-detail {% endblock %}


{% block content %}

  <div id="posts" class="posts-expand">

		<article class="post post-type-normal " itemscope itemtype="//schema.org/Article">
			<header class="post-header">
				<h1 class="post-title" itemprop="name headline">
					使用 Travis CI 自动更新 GitHub Pages
				</h1>
				<div class="post-meta">
					<span class="post-time">
						<span class="post-meta-item-icon">
							<i class="fa fa-calendar-o"></i>
						</span>
						<span class="post-meta-item-text">发表于</span>
						<time itemprop="dateCreated" datetime="2016-03-22T13:04:35+08:00" content="2016-03-22">
							2016-03-22
						</time>
					</span>


					<span class="post-category" >
						&nbsp; | &nbsp;
						<span class="post-meta-item-icon">
							<i class="fa fa-folder-o"></i>
						</span>
						<span class="post-meta-item-text">分类于</span>

						<span itemprop="about" itemscope itemtype="https://schema.org/Thing">
							<a href="/categories/技术水波文/" itemprop="url" rel="index">
								<span itemprop="name">技术水波文</span>
							</a>
						</span>
					</span>
					<span class="post-comments-count">
						&nbsp; | &nbsp;
						<a href="/2016/publishing-github-pages-with-travis-ci/#comments" itemprop="discussionUrl">
							<span class="post-comments-count ds-thread-count" data-thread-key="2016/publishing-github-pages-with-travis-ci/" itemprop="commentsCount"></span>
						</a>
					</span>
					<span id="/2016/publishing-github-pages-with-travis-ci/" class="leancloud_visitors" data-flag-title="使用 Travis CI 自动更新 GitHub Pages">
						&nbsp; | &nbsp;
						<span class="post-meta-item-icon">
							<i class="fa fa-eye"></i>
						</span>
						<span class="post-meta-item-text">阅读次数 </span>
						<span class="leancloud-visitors-count"></span>
					</span>
				</div>
			</header>

			<div class="post-body" itemprop="articleBody">
                {{ content | safe }}
			</div>
			<footer class="post-footer">
				<div class="post-tags">
					<a href="/tags/github/" rel="tag">#GitHub</a>
					<a href="/tags/next/" rel="tag">#NexT</a>
					<a href="/tags/travis-ci/" rel="tag">#Travis CI</a>
				</div>
				<div class="post-nav">
					<div class="post-nav-next post-nav-item">
						<a href="/2016/next-documentations-reload/" rel="next" title="NexT Documentations Reload">
							<i class="fa fa-chevron-left"></i> NexT Documentations Reload
						</a>
					</div>
					<div class="post-nav-prev post-nav-item">
					</div>
				</div>
			</footer>
		</article>
    <div class="post-spread">
    </div>
  </div>

{% endblock %}

{% block sidebar %}

  <div class="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
      <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
    </div>
  </div>

  <aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
        <ul class="sidebar-nav motion-element">
          <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap" >
            文章目录
          </li>
          <li class="sidebar-nav-overview" data-target="site-overview">
            站点概览
          </li>
        </ul>


      <section class="site-overview sidebar-panel ">
        <div class="site-author motion-element" itemprop="author" itemscope itemtype="//schema.org/Person">
          <img class="site-author-image" itemprop="image"
               src="/uploads/m3.jpg"
               alt="IIssNan" />
          <p class="site-author-name" itemprop="name">IIssNan</p>
          <p class="site-description motion-element" itemprop="description">胡编一通，乱写一气</p>
        </div>
        <nav class="site-state motion-element">
          <div class="site-state-item site-state-posts">
            <a href="/archives">
              <span class="site-state-item-count">183</span>
              <span class="site-state-item-name">日志</span>
            </a>
          </div>
            <div class="site-state-item site-state-categories">

                <span class="site-state-item-count">6</span>
                <span class="site-state-item-name">分类</span>

            </div>
            <div class="site-state-item site-state-tags">
              <a href="/tags">
                <span class="site-state-item-count">111</span>
                <span class="site-state-item-name">标签</span>
              </a>
            </div>


        </nav>
          <div class="feed-link motion-element">
            <a href="/atom.xml" rel="alternate">
              <i class="fa fa-rss"></i>
              RSS
            </a>
          </div>
        <div class="links-of-author motion-element">
              <span class="links-of-author-item">
                <a href="https://github.com/iissnan" target="_blank" title="GitHub">

                    <i class="fa fa-fw fa-github"></i>

                  GitHub
                </a>
              </span>

              <span class="links-of-author-item">
                <a href="https://twitter.com/iissnan" target="_blank" title="Twitter">

                    <i class="fa fa-fw fa-twitter"></i>

                  Twitter
                </a>
              </span>

              <span class="links-of-author-item">
                <a href="http://douban.com/people/iissnan" target="_blank" title="豆瓣">

                    <i class="fa fa-fw fa-globe"></i>

                  豆瓣
                </a>
              </span>

              <span class="links-of-author-item">
                <a href="http://www.zhihu.com/people/iissnan" target="_blank" title="知乎">

                    <i class="fa fa-fw fa-globe"></i>

                  知乎
                </a>
              </span>
        </div>
      </section>
        <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
          <div class="post-toc">
              <div class="post-toc-content"><ol class="nav"><li class="nav-item nav-level-2"><a class="nav-link" href="#年轻的想法"><span class="nav-number">1.</span> <span class="nav-text">年轻的想法</span></a></li><li class="nav-item nav-level-2"><a class="nav-link" href="#Travis_CI_登场"><span class="nav-number">2.</span> <span class="nav-text">Travis CI 登场</span></a></li><li class="nav-item nav-level-2"><a class="nav-link" href="#那些年的那些坑"><span class="nav-number">3.</span> <span class="nav-text">那些年的那些坑</span></a></li><li class="nav-item nav-level-2"><a class="nav-link" href="#另一种方案"><span class="nav-number">4.</span> <span class="nav-text">另一种方案</span></a><ol class="nav-child"><li class="nav-item nav-level-3"><a class="nav-link" href="#方案原理"><span class="nav-number">4.1.</span> <span class="nav-text">方案原理</span></a></li><li class="nav-item nav-level-3"><a class="nav-link" href="#具体操作"><span class="nav-number">4.2.</span> <span class="nav-text">具体操作</span></a></li></ol></li></ol></div>
          </div>
        </section>
    </div>
  </aside>
{% endblock %}


{% block script_extra %}
  <script type="text/javascript" src="{% static "js/src/scrollspy.js" %}?v=5.1.0"></script>
  <script type="text/javascript" src="{% static "js/src/post-details.js" %}?v=5.1.0"></script>
{% endblock %}
