{% extends 'blog/_layout.html' %}
{% load static %}
{% load ui_macro %}

{% block title %} blog title | xxx'blog {% endblock %}

{% block page_class %} page-post-detail {% endblock %}


{% block content %}

  <div id="posts" class="posts-expand">

		<article class="post post-type-normal " itemscope itemtype="//schema.org/Article">
			<header class="post-header">
				<h1 class="post-title" itemprop="name headline">
                    {{ post.title }}
				</h1>
				<div class="post-meta">
					<span class="post-time">
						<span class="post-meta-item-icon">
							<i class="fa fa-calendar-o"></i>
						</span>
						<span class="post-meta-item-text">发表于</span>
						<time itemprop="dateCreated" datetime="2016-03-22T13:04:35+08:00" content="2016-03-22">
							2016-03-22
						</time>
					</span>


					<span class="post-category" >
						&nbsp; | &nbsp;
						<span class="post-meta-item-icon">
							<i class="fa fa-folder-o"></i>
						</span>
						<span class="post-meta-item-text">分类于</span>

						<span itemprop="about" itemscope itemtype="https://schema.org/Thing">
                            <a href="#" itemprop="url" rel="index">
                                <span itemprop="name">{{ post.category.name }}</span>
							</a>
						</span>
					</span>
					<span class="post-comments-count">
						&nbsp; | &nbsp;
						<a href="/2016/publishing-github-pages-with-travis-ci/#comments" itemprop="discussionUrl">
							<span class="post-comments-count ds-thread-count" data-thread-key="2016/publishing-github-pages-with-travis-ci/" itemprop="commentsCount"></span>
						</a>
					</span>
					<span id="/2016/publishing-github-pages-with-travis-ci/" class="leancloud_visitors" data-flag-title="使用 Travis CI 自动更新 GitHub Pages">
						&nbsp; | &nbsp;
						<span class="post-meta-item-icon">
							<i class="fa fa-eye"></i>
						</span>
						<span class="post-meta-item-text">阅读次数 </span>
						<span class="leancloud-visitors-count"></span>
					</span>
				</div>
			</header>

			<div class="post-body" itemprop="articleBody">
                {{ content | safe }}
			</div>
			<footer class="post-footer">
				<div class="post-tags">
                    {% for tag in post.tags.all %}
                    <a href="#" rel="tag">#{{ tag.name }}</a>
                    {% endfor %}
				</div>
				<div class="post-nav">
					<div class="post-nav-next post-nav-item">
						<a href="#" rel="next" title="NexT Documentations Reload">
							<i class="fa fa-chevron-left"></i> 上一篇博客
						</a>
					</div>
					<div class="post-nav-prev post-nav-item">
					</div>
				</div>
			</footer>
		</article>
    <div class="post-spread">
    </div>
  </div>

{% endblock %}

{% block sidebar %}

  <div class="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
      <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
      <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
    </div>
  </div>

  <aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
        <ul class="sidebar-nav motion-element">
          <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap" >
            文章目录
          </li>
          <li class="sidebar-nav-overview" data-target="site-overview">
            站点概览
          </li>
        </ul>

        {% show_blogger_overview request %}

      <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
        <div class="post-toc">
          <div class="post-toc-content">
            <ol class="nav">
              <li class="nav-item nav-level-2">
                <a class="nav-link" href="#">
                  <span class="nav-text">目前不支持，唔...</span>
                </a>
              </li>
            </ol></div>
        </div>
      </section>

    </div>
  </aside>
{% endblock %}


{% block script_extra %}
  <script type="text/javascript" src="{% static "js/src/scrollspy.js" %}?v=5.1.0"></script>
  <script type="text/javascript" src="{% static "js/src/post-details.js" %}?v=5.1.0"></script>
{% endblock %}
