<div class="popup search-popup local-search-popup">
  <div class="local-search-header clearfix">
    <span class="search-icon">
      <i class="fa fa-search"></i>
    </span>
    <span class="popup-btn-close" style="z-index: 1;">
      <i class="fa fa-times-circle"></i>
    </span>
    <div class="local-search-input-wrapper" style="z-index: -1;">
      <input autocapitalize="off" autocomplete="off" autocorrect="off"
             placeholder="搜索，按 ESC 退出" spellcheck="false"
             type="text" id="local-search-input" />
    </div>
  </div>
  <div id="local-search-result"></div>
</div>
